.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-slide {
    flex: 1 0 100%;
}

.carousel-slide img {
    width: 100%;
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}
